<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete book</title>
</head>
<body>
<h1>Delete book</h1>
<h2>Are you sure?</h2>
<!--<p>-->
<!--    <a href="/customers">Customer list</a>-->
<!--</p>-->
<form th:action="@{/author/delete-book}" th:object="${book}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Book name:</td>
            <td><input type="text" th:field="*{nameBook}"/></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{authorBook}"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="text" th:field="*{image}"/></td>
        </tr>
        <tr>
            <td>IntroduceBook:</td>
            <td><input type="text" th:field="*{introduceBook}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete book"></td>
        </tr>
    </table>
</form>
</body>
</html>