<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <!--    <div class="row header">-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Trang trủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Thể loại <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sắp xếp</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" action="/search">
                <input th:name="searchValue" id="search" class="form-control mr-sm-2" type="text" placeholder="Tìm Kiếm"
                       aria-label="Search">
                <input type="submit" value="Tìm Kiếm">
            </form>
            <div th:if="${account==null}">
                <a href="/login" style="color:black ">Đăng nhập</a>
                <a href="/#" style="color:black ">Đăng ký</a>
                <a href="/#" style="color:black ">quên mật khẩu</a>
            </div>
            <div th:if="${account!=null}">
                <a style="color: black" th:href="@{/user/detail/{id}(id=${account.id})}" th:text="${account.name}"></a>
            </div>
            <a href="/#" style="color:black ">quên mật khẩu</a>

        </div>
    </nav>
    <!--    </div>-->
    <!--    //header finished-->

    <!--    phần thân hình ảnh-->
    <div class="row">
        <div class="col-sm-9">

            <div class="row">
                <div class="card-group col-sm-4">

                    <div class="card">
                        <img src="card-img-top" alt="Card image cap" th:src="@{${book.getImage()}}"><br>
                        <input th:value="${book.id}" type="hidden" id="bookId">
                        <th:block th:each="c:${categories}">
                            <p th:text="${c.name}"></p>
                        </th:block>
                        <p th:text="${book.statusBook}"></p>
                        <p th:text="${book.readsBook}"></p>
                    </div>
                </div>
                <div class="card-group col-sm-8">
                    <div class="card">
                        <h3 th:text="${book.nameBook}"></h3><br>
                        ...
                        <a href="#">Đọc truyện</a>
                        <p>rating vote: </p>
                        <p id="ratingVote" th:text="${book.voteBook}"></p>
                        <p th:text="${book.introduceBook}"></p>

                        <label for="vote">Vote here:</label>
                        <select name="vote" id="vote">
                            <option value="1">1 star</option>
                            <option value="2">2 star</option>
                            <option value="3">3 star</option>
                            <option value="4">4 star</option>
                            <option value="5">5 star</option>
                            <option value="6">6 star</option>
                            <option value="7">7 star</option>
                            <option value="8">8 star</option>
                            <option value="9">9 star</option>
                            <option value="10">10 star</option>
                        </select>
                        <button onclick="vote()">Vote</button>
                        <br>
                        <p th:text="${book.likeBook}" id="like"></p>
                        <p>likes</p>
                        <button onclick="like()">Like</button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group" th:each=" chapter: ${chapters}">

                        <li class="list-group-item"> Chương <span
                                th:text="${chapter.chapters}"></span><span>-</span><a
                                th:text="${chapter.name}" th:href="@{'/readBook'(id=${book.id},chapters=${chapter.chapters})}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3" id="sidebar">

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                </button>
                <button type="button" class="list-group-item list-group-item-action">Thể loại truyện
                </button>
                <button th:each="category:${categories}" type="button" class="list-group-item list-group-item-action">
                    <a th:text="${category.name}" th:href="@{/category/{id}(id=${category.id})}"></a>
                </button>

            </div>
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                </button>
                <a href="sign_in_form.jsp"> thông tin cá nhân</a><br>
                <a href="sign_in_form.jsp"> tài khoản</a><br>

            </div>
        </div>
    </div>
    <div>
        <textarea id="content"></textarea>
        <input th:value="${account.id}" type="hidden" id="accountId">
        <button onclick="addComment()">Comment</button>
    </div>
    <div class="row">
        <table id="comments">
            <thead>
            <tr>
                <th>comment</th>
                <th>author</th>
                <th>post time</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="c : ${comments}">
                <tr>
                    <td th:text="${c.content}"></td>
                    <td th:text="${c.getAccount().name}"></td>
                    <td th:text="${c.postTime}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>


    <!--footer-->
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item active">Về chúng tôi</li>
                <li class="list-group-item">Giới thiệu chung</li>
                <li class="list-group-item">Làm việc với chúng tôi</li>
                <li class="list-group-item">Hoạt động cộng đồng</li>
                <li class="list-group-item">Đối tác</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item active">Dịch vụ</li>
                <li class="list-group-item">Tặng quà và gửi quà</li>
                <li class="list-group-item">Chuyển hàng nhanh</li>
                <li class="list-group-item">Tải app trên điện thoại</li>

            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item active">Hỗ trợ khách hàng</li>
                <li class="list-group-item">Câu hỏi thường gặp</li>
                <li class="list-group-item">Khách hàng thân thiết</li>
                <li class="list-group-item">Thông tin giao hàng</li>
                <li class="list-group-item">Phàn nàn-Khiếu nại</li>
                <li class="list-group-item">Hình thức thanh toán</li>
                <li class="list-group-item">Chính sách đổi trả</li>
                <li class="list-group-item">Chính sách bảo mật thông tin</li>
            </ul>
        </div>

        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item active">Thông tin hữu ích</li>
                <li class="list-group-item">Món ăn ngon</li>
                <li class="list-group-item">Một số cách chế biến</li>
                <li class="list-group-item">Cách rửa rau củ quả sạch khuẩn</li>
                <li class="list-group-item">Cách trang trí món ăn ngon</li>
                <li class="list-group-item">Góc nội trợ</li>
            </ul>
        </div>
    </div>
</div>
<script>
    let accountId = document.getElementById("accountId").value;
    let bookId = document.getElementById("bookId").value;

    //functions like
    function addComment() {
        let content = document.getElementById("content").value;
        let comment = {
            content: content,
            account: {
                id: accountId
            },
            book: {
                id: bookId
            }
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: 'http://localhost:8080/user/api/book/saveComment/',
            type: 'POST',
            data: JSON.stringify(comment),
            success: saveComment,
            error: fail
        });

    }

    function saveComment() {
        let id = document.getElementById("bookId").value;
        $.ajax({
            url: 'http://localhost:8080/user/api/book/getAllComment/' + id,
            type: 'GET',

            success: showCommentList,
            fail: fail
        });
        // document.getElementById("comments").value="";
    }

    function fail() {
        alert("comment fail!!! try again");
    }
    function showCommentList(response) {
        //show list comment here
        let tableContent = `<thead>
        <tr>
               <th>comment</th>
               <th>author</th>
               <th>postTime</th>
        </tr>
        </thead>
        <tbody>`;
        for (let i = 0; i < response.length; i++) {
            tableContent += getCommentRow(response[i]);
        }
        tableContent += `</tbody>`;
        document.getElementById("comments").innerHTML = tableContent;
    }

    function getCommentRow(comment) {
        return `<tr>
                    <td>${comment.content}</td>
                     <td>${comment.authorName}</td>
                    <td>${comment.postTime}</td>
                </tr>`;
    }


    // functions vote

    function vote() {
        let star = document.getElementById("vote").value;
        let vote = {
            stars: star,
            account: {
                id: accountId
            },
            book: {
                id: bookId
            }
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: 'http://localhost:8080/user/api/book/saveVote/',
            type: 'POST',
            data: JSON.stringify(vote),
            success: voteSuccess,
            error: fail
        });

    }

    function voteSuccess() {
        let id = document.getElementById("bookId").value;
        $.ajax({
            url: 'http://localhost:8080/user/api/book/getRatingVote/' + id,
            type: 'GET',

            success: showRatingVote,
            fail: fail
        });
    }

    function showRatingVote(response) {
        document.getElementById("ratingVote").innerHTML = response;
    }

    //function like
    function like() {

        let likeStatus = {

            account: {
                id: accountId
            },
            book: {
                id: bookId
            }
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: 'http://localhost:8080/user/api/book/saveLike/',
            type: 'POST',
            data: JSON.stringify(likeStatus),
            success: likeSuccess,
            error: fail
        });
    }

    function likeSuccess() {
        let id = document.getElementById("bookId").value;
        $.ajax({
            url: 'http://localhost:8080/user/api/book/getLike/' + id,
            type: 'GET',

            success: showLikes,
            fail: fail
        });
    }

    function showLikes(response) {
        document.getElementById("like").innerHTML = response;
    }

</script>
</body>
</html>