<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <!--    <div class="row header">-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Trang trủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Thể loại <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sắp xếp</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="/home_page?action=result_search">
                <input class="form-control mr-sm-2" type="text" name="home_search" placeholder="Tìm Kiếm"
                       aria-label="Search">
                <input type="submit" value="tìm kiếm">
            </form>
            <a href="/login" style="color:black ">Đăng nhập</a>
            <a href="/#" style="color:black ">Đăng ký</a>
            <a href="/#" style="color:black ">quên mật khẩu</a>

        </div>
    </nav>
    <!--    </div>-->
    <!--    //header finished-->

    <!--    phần thân hình ảnh-->
    <div class="row">
        <div>

        </div>
        <th:block th:each="chapter :${chapters}">
            <div class="col-sm-12">
                <h2>Chương</h2>
                <h2>:</h2>
                <h2 th:text="${chapter.chapters}"></h2>
                <h2></h2>
                <h2 th:text="${chapter.name}"></h2>
            </div>
            <br>
            <div class="col-sm-12">
                <h4> Truyện</h4> <h4 th:text="${chapter.book.nameBook}"></h4>
            </div>
            <br>
            <div class="col-sm-12">
                <p>Tác giả</p>
                <p th:text="${chapter.book.authorBook}"></p>
            </div>
            <br>
            <div class="col-sm-12">
                <p>ngày đăng</p>
                <p th:text="${chapter.postTime}"></p>
            </div>
            <div class="col-sm-12">
                <h4 th:text="${chapter.content}"></h4>
            </div>
        </th:block>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/readBook/'(page=${chapters.number - 1},id=${book.id})}"
                           th:if="${chapters.hasPrevious()}">Previous</a>
                    </li>
                    <li class="page-item">
                        <span th:text="${chapters.number + 1}"></span>/<span th:text="${chapters.totalPages}"></span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/readBook/'(page=${chapters.number + 1},id=${book.id})}"
                           th:if="${chapters.hasNext()}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>


<!--footer-->
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item active">Về chúng tôi</li>
            <li class="list-group-item">Giới thiệu chung</li>
            <li class="list-group-item">Làm việc với chúng tôi</li>
            <li class="list-group-item">Hoạt động cộng đồng</li>
            <li class="list-group-item">Đối tác</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item active">Dịch vụ</li>
            <li class="list-group-item">Tặng quà và gửi quà</li>
            <li class="list-group-item">Chuyển hàng nhanh</li>
            <li class="list-group-item">Tải app trên điện thoại</li>

        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item active">Hỗ trợ khách hàng</li>
            <li class="list-group-item">Câu hỏi thường gặp</li>
            <li class="list-group-item">Khách hàng thân thiết</li>
            <li class="list-group-item">Thông tin giao hàng</li>
            <li class="list-group-item">Phàn nàn-Khiếu nại</li>
            <li class="list-group-item">Hình thức thanh toán</li>
            <li class="list-group-item">Chính sách đổi trả</li>
            <li class="list-group-item">Chính sách bảo mật thông tin</li>
        </ul>
    </div>

    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item active">Thông tin hữu ích</li>
            <li class="list-group-item">Món ăn ngon</li>
            <li class="list-group-item">Một số cách chế biến</li>
            <li class="list-group-item">Cách rửa rau củ quả sạch khuẩn</li>
            <li class="list-group-item">Cách trang trí món ăn ngon</li>
            <li class="list-group-item">Góc nội trợ</li>
        </ul>
    </div>
</div>
</div>

</body>
</html>